.main-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav bar */

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #524D4D;
    height: 200px;
    max-width: 100%;

}

.fitness-logo-container {
    height: 350px;
    width: 380px;


}
.fitness-logo-container>img{

    height: 311px;
    width: 100%;

}


ul {
    list-style-type: none;
}

.nav-buttons {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 84px 82px 0 0;


}

.nav-buttons a {
    padding: 0 10px;
    margin-top: 25px;
    color: aliceblue;
    font-size: 40px;
    text-decoration: none;

}

.nav-buttons button {

    top: 35%;
    right: -26%;
    font-size: 40px;
    border-radius: 8px;
    height: 62%;
    background-color: #FFA500;
    border: none;
    margin: 25px 0 0 8px;
    cursor: pointer;

}

.nav-button {
    margin-right: 90px;
}




/* blogs-box1 */

.blogs-box1 {
    background-color:  #FFA50080;
    ;
    height: 950px;
    display: inline-block;
    width: 100%;
}



.box1-sub-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.box1-image-container{
    width: 880px;
    height: 600px;
    margin: 150px 150px 0 0;
}

.box1-text{
 width: 800px;
 height: 600px;
 font-size: 30px;
 font-weight: 600;
 margin: 150px 0 0 0;
}



 /* blogs-box2  */


 .blogs-box2{

    background-color: black;
    width: 100%;
    height: 820px;
    margin:0 0 0 0;
    display: inline-block;
 }



 .box2-sub-container{
    margin: 170px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }

 .box2-text-container{
    background-color: white;
    height: 462px;
    width: 680px;
    
 }

 .text-sub-container{
    margin:50px 0 0 25px
 }


 .beneits-heading{
    font-weight: 700;
    font-size: 38px;
    margin: 0 0 0 20px;
 }

.benefits-points{
    margin: 40px 0 0 80px;
}

.benefits-points>ul>li{
    font-size:24px;
    font-weight:600
}


 .box2-image-container{
    width: 480px;
    height: 462px;
 }

/* blogs-box3 */

.blogs-box3 {
    background-color:  #FFA50080;
    ;
    height: 950px;
    display: inline-block;
    width: 100%;
}



.box3-sub-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.box3-image-container{
    width: 880px;
    height: 600px;
    margin: 150px 150px 0 150px;
}

.box3-text{
 width: 800px;
 height: 600px;
 font-size: 30px;
 font-weight: 600;
 margin: 150px 0 0 0;
}










/* footer box */


.footer-box {

    background-color: #524D4D;
    display: inline-block;
    height: 505px;
    width: 100%;
}



.footer-sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 420px;
}

.fitness-container {
    width: 420px;
    height: 100%;
    

}


.fitness-text {
    font-size: 31px;
    color: #FFA500;
    width: 400px;
    margin-left: 50px;

}



.ccm-container {
    
    margin: 45px 0 0 0;
    height: 100%;
    width: fit-content;
 
}

.ccm-table-heading {

    font-size: 38px;
    padding: 0 0 30px 70px;
    color: white;
    text-transform: uppercase;
}


.table-heading-container{
    display: flex;

}

.table-description-container{
    display: flex;
   margin-right: 55px;
    
}


.ccm-table-description {
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 0px 0px 150px;
    display: inline-block;
    margin: 0 0 51px 0;
  

}

.extra-container{
    display: none;
}



.ccm-tc {
    color: white;
    margin: 0 0 0 160px;
    height: 30px;
    font-size: 25px;
    width: 260px;
}


.popular-tags-container{
    margin: 35px 150px 0 0;
    height: 100%;
    width: 400px;
}


.popular-tags-heading{
    font-size: 38px;
    color: #FFA500;
    text-decoration: underline;
    
}

.popular-tags-table{
    margin-top: 20px;
    border-spacing: 20px 20px;
}

.pt-description{
    padding: 20px 0 0 0;
    margin: 10px 24px;
    color: white;
    font-size: 32px;
    width: 30%;


}


.pt-item-row{

display: flex;

}

.greyitem{
 background: #8D8383;

}

.yellowitem{
    background: #FFA500;

}

.facilities{
    margin:  0 0 0 100px ;
    width: fit-content;
}


/*copyright box */

.copyright-box{
        background-color:#FFA500;
        width: 100%;
        height: 78px;
        display: inline-block;
                
    }

    .copyright-text{
    color: black;
    font-size: 30px;
    margin: 30px 0 0 650px;
    letter-spacing: 8px;
    }